
\.idea/

*.pyc

sellar/visualization/

test\.py

sellar/angle_windspeeds\.dat

sellar/n2\.html

sellar/angle_speedhorns8l\.dat

sellar/angle_speedhorns8newt\.dat

sellar/angle_speedhorns8nl\.dat

sellar/distribcomp\.py

nonlinear_fixed

linear_variable

linear_fixed

visualization/

n2\.html

workf1\.py

data_out_try

all_outputs\.dat

*.out

sensitivity_all_rand\.dat

sensitivity_all_rand\+\.dat

sensitivity_all_x-\.dat

sensitivity_all_x\+\.dat

sensitivity_all_xy-\.dat

sensitivity_all_xy\+\.dat

sensitivity_all_y-\.dat

sensitivity_all_y\+\.dat

sensitivity_one_0x-\.dat

sensitivity_one_0x\+\.dat

sensitivity_one_0y-\.dat

sensitivity_one_0y\+\.dat

sensitivity_one_1x-\.dat

sensitivity_one_1x\+\.dat

sensitivity_one_1y-\.dat

sensitivity_one_1y\+\.dat

sensitivity_one_2x-\.dat

sensitivity_one_2x\+\.dat

sensitivity_one_2y-\.dat

sensitivity_one_2y\+\.dat

sensitivity_one_3x-\.dat

sensitivity_one_3x\+\.dat

sensitivity_one_3y-\.dat

sensitivity_one_3y\+\.dat

sensitivity_one_4x-\.dat

sensitivity_one_4x\+\.dat

sensitivity_one_4y-\.dat

sensitivity_one_4y\+\.dat

sensitivity_one_5x-\.dat

sensitivity_one_5x\+\.dat

sensitivity_one_5y-\.dat

sensitivity_one_5y\+\.dat

sensitivity_one_6x-\.dat

sensitivity_one_6x\+\.dat

sensitivity_one_6y-\.dat

sensitivity_one_6y\+\.dat

sensitivity_one_7x-\.dat

sensitivity_one_7x\+\.dat

sensitivity_one_7y-\.dat

sensitivity_one_7y\+\.dat

sensitivity_one_8x-\.dat

sensitivity_one_8x\+\.dat

sensitivity_one_8y-\.dat

sensitivity_one_8y\+\.dat
