
\.idea/

*.pyc

sellar/visualization/

test\.py

sellar/angle_windspeeds\.dat

sellar/n2\.html

sellar/angle_speedhorns8l\.dat

sellar/angle_speedhorns8newt\.dat

sellar/angle_speedhorns8nl\.dat

sellar/distribcomp\.py

*.dat

nonlinear_fixed

linear_variable

linear_fixed

visualization/
